$scroll_bar_width: 17;

// ==========================
// font-size
// ==========================
$default_fs: 16;
$line_height: 1.714;

// ==========================12
// path
// ==========================
// $image_path: "../../images/";
// $svg_path: "../../svg/";

// ==========================
// width
// ==========================
$width_small: 1120;
$width_basic: 1240;
$width_large: 1460;
$width_comp: 1860;// カンプ最大サイズ

// ==========================
// media query
// ==========================
$bp_xs: 640;
$bp_s: 768;
$bp_m: 1024;
$bp_l: 1240;
$bp_xl: 1720;

$bp_fv: $bp_l + 100;
// $bp_fv: $bp_l + 100 + $scroll_bar_width;

$breakpoint_up: (
  "xs": "min-width: #{$bp_xs + 1 + px}",
  "s": "min-width: #{$bp_s + 1 + px}",
  "m": "min-width: #{$bp_m + 1 + px}",
  "l": "min-width: #{$bp_l + 1 + px}",
  "xl": "min-width: #{$bp_xl + 1 + px}",
) !default;

$breakpoint_dn: (
  "xs": "max-width: #{$bp_xs + px}",
  "s": "max-width: #{$bp_s + px}",
  "m": "max-width: #{$bp_m + px}",
  "l": "max-width: #{$bp_l + px}",
  "xl": "max-width: #{$bp_xl + px}",
) !default;

