.c-button {
  border: 1px solid var(--gray-6);
  border-radius: 3px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  padding: 1em;
  position: relative;

  &--white {
    background: var(--color-above-dark);
    border: none;
    color: var(--color-base);
  }
}